<div class="containerForHeading">
  <h1 class="heading">Batches</h1>
</div>

<div fxlayout="row" fxLayoutAlign="space-between center" style="padding: 20px">
  <div>
    <mat-form-field>
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="openNewBatchDialog(null)">
    <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;New Batch
  </button>
</div>

<mat-table matSort matSortDirection="asc" matSortDisableClear [dataSource]="dataSource" style="margin: 20px"
  class="mat-elevation-z8">
  <ng-container matColumnDef="batchName">
    <mat-header-cell style="max-width: 250px;" *matHeaderCellDef mat-sort-header>
      Batch Name
    </mat-header-cell>
    <mat-cell style="max-width: 250px;" *matCellDef="let element"> {{ element.batchName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <mat-header-cell style="max-width: 150px;" *matHeaderCellDef mat-sort-header>
      Start Date
    </mat-header-cell>
    <mat-cell style="max-width: 150px;" *matCellDef="let element">
      {{ element.startDate | date: "mediumDate" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <mat-header-cell style="max-width: 200px;" *matHeaderCellDef mat-sort-header>
      End Date
    </mat-header-cell>
    <mat-cell style="max-width: 200px;" *matCellDef="let element">
      {{ element.endDate | date: "mediumDate" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="BatchSkypeId">
    <mat-header-cell style="max-width: 150px;" *matHeaderCellDef>
      Batch Skype Id
    </mat-header-cell>
    <mat-cell style="max-width: 150px;" *matCellDef="let element"> {{ element.commonSkypeId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="BatchEmailId" style="display: none">
    <mat-header-cell *matHeaderCellDef>
      Batch Email Id
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.groupEmailId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <mat-header-cell style="min-width: 250px;" *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell style="min-width: 200px;" *matCellDef="let row">
      <button mat-icon-button matTooltip="Open Batch" (click)="getBatch(row)" color="primary">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button mat-button matTooltip="Chat" (click)="openSkype(row.commonSkypeId)">
        <mat-icon> chat</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Go to Classroom" matTooltipPosition="above"
        (click)="openClassroom(row.classroomLink)" color="primary">
        <mat-icon>class</mat-icon>
      </button>
      <mat-divider vertical style="height: 20px"></mat-divider>
      <button mat-button matTooltip="Update Batch" (click)="openNewBatchDialog(row)" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button matTooltip="Delete Batch" color="warn" (click)="deleteBatch(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

<div class="spinner-container" style="
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
  " *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate" diameter="50" strokeWidth="10"></mat-progress-spinner>
</div>
