<app-overlay-loader *ngIf="isProgressLoading" [loadText]="loadText"></app-overlay-loader>
<h3 style="text-align: center; font-weight: bold">Provide Batch Details</h3>
<form [formGroup]="newBatchForm">
  <mat-form-field style="width: 100%" style="display: none">
    <input matInput placeholder="Batch Id" formControlName="batchId" />
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Batch Name" formControlName="batchName" />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" />
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" />
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>

  <br />

  <mat-form-field>
    <input matInput placeholder="Batch Skype Id" formControlName="commonSkypeId" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Batch Email Id" formControlName="groupEmailId" />
  </mat-form-field>
</form>

<div>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
  <button (click)="onSubmit()" mat-raised-button color="primary">
    {{ dialogData ? "Update" : "Save" }}
  </button>
</div>
