<div class="float-disp"  >
  <h2 class="head" >Students</h2>
  <!-- <ul>
 <li *ngFor="let link of studentNames">
   <mat-checkbox  [checked]=true   (change)="checkCheckBoxvalue($event,link)">
   {{link.firstName}} {{ link.lastName}}
 </mat-checkbox>
 </li>
</ul> -->

<div class=table1 style="float: left;">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> EMAIL </th>
    <td mat-cell *matCellDef="let element"> {{element.emailId}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
</div>

 <!-- <div class="search" style="float: right">
  <mat-form-field>
    <input
      (keyup)="applyFilter($event.target.value)"
      matInput
      placeholder="Search"
    />
  </mat-form-field>


 </div> -->
<div class="float-container" style="float: right;">
  <div class="search">
  <mat-form-field>
    <input
      (keyup)="applyFilter($event.target.value)"
      matInput
      placeholder="Search"
    />
  </mat-form-field>
</div>
    <div id="wrapper">
      
      <form [formGroup]="custForm" class  = "example-form">
      <mat-form-field class = "example-full-width">
        <mat-label>
          Enter group size
        </mat-label>
          <input matInput type="number" formControlName="size" />
      </mat-form-field>
      <br>
      
      <button
      mat-raised-button
      type="submit"
      (click) = "this.generate()"
      style = "margin-bottom:2px"
      >
      Create
    </button>
 
    </form>
  </div>
</div>
